
.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalBg {
    border-radius: 12px;
    background-color: rgb(27, 27, 28);
    box-shadow: cornsilk 1px 1px 2px 2px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title {
    text-align: center;
    color: aqua;
    font-size: 1rem;
}

 .modalList {
    display: flex;
    color: cornsilk;
    font-size: .75rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titleCloseBtn {
    display: flex;
    justify-content: flex-end;
}

.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: cornsilk;
}

.footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer button {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: .1rem .5rem;
    border: none;
    background-color: transparent;
    border-style: groove;
    border-color: aqua;
    color: cornsilk;
    border-radius: 5px;
    font-size: .75rem;
    cursor: pointer;
}



