
.projectsContainer {
    color: cornsilk;
}

 .projectsBtns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    
}

.tttBtn {
    background: transparent;
    color: cornsilk;
    border: 1px solid aqua;
    border-radius: 8px;
    padding: .15rem .5rem;
    background-color: rgba(255, 255, 255, 0.1);
}

.taskBtn {
    background: transparent;
    color: cornsilk;
    border: 1px solid aqua;
    border-radius: 8px;
    padding: .15rem .5rem;
    background-color: rgba(255, 255, 255, 0.1); 
}

.weatherBtn {
    background: transparent;
    color: cornsilk;
    border: 1px solid aqua;
    border-radius: 8px;
    padding: .15rem .5rem;
    background-color: rgba(255, 255, 255, 0.1); 
}