
.projectsContainer {
    color: cornsilk;
}

 .projectsBtns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
}

.tttBtn {
    background: transparent;
    color: cornsilk;
    border: 1px solid aqua;
    border-radius: 8px;
    padding: .15rem .5rem;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 10px;
}

.taskBtn {
    background: transparent;
    color: cornsilk;
    border: 1px solid aqua;
    border-radius: 8px;
    padding: .15rem .5rem;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 10px; 
}

.weatherBtn {
    background: transparent;
    color: cornsilk;
    border: 1px solid aqua;
    border-radius: 8px;
    padding: .15rem .5rem;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 10px; 
}

.bootstrapBtn {
    background: transparent;
    color: cornsilk;
    border: 1px solid aqua;
    border-radius: 8px;
    padding: .15rem .5rem;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 10px;
}