

.tttContainer {
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

#board {
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.tRow {
    flex: 33%;
    display: flex;
    flex-direction: row;
}

.square {
    flex: 33%;
    height: 100%;
    border: 1px solid cornsilk;
    cursor: pointer;
    display: grid;
    place-items: center;
    font-size: 2rem;
    color: cornsilk;
    user-select: none;
}

.square:active {
    background-color: aqua;
}

.tttCloseBtn {
    display: flex;
    justify-content: flex-end;
}

.tttCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: cornsilk;
    margin-top: 5px;
    
}